{{!< default}}

{{#post}}

  <article class="{{post_class}}">
    <header>
      <a title="Tweet '{{title}}'" href="https://twitter.com/intent/tweet?text={{encode title}}{{encode ' »'}}&amp;hashtags={{tags separator="," autolink="false"}}&amp;url={{url absolute="true"}}">
        {{#if image}}<img id="post-image" src="{{image}}" alt="{{title}}">{{/if}}
        <h1 class="icon-reverse icon-social-twitter-post" id="post-title">{{title}}</h1>
      </a>
    </header>

    <div id="post-content" class="{{post_class}}">
      Hi, I'm Gavin. I'm a goofy guy who likes One Piece, acoustic instrumentals/chill beats, and solid conversations over coffee/beer. 
      I fucking hate spiders.
      I'll be writing about anything that comes to mind -- from my travels and rants about education to my big dumb dreams. Enjoy!
      {{content}}
    </div>

  </article>

{{/post}}
